<div class="container ">


  <div class="row justify-content-around mb-3 p-5 border border-black">
    <h2 class="text-center">CREA TU PLATILLO !!!</h2>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nombre del plato</label>
    <input type="text" class="form-control" id="nombre"  placeholder="sopa">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Descripción</label>
    <input type="text" class="form-control" id="descripcion" placeholder="la sopa es muy rica!!!!!">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">País</label>
    <input type="text" class="form-control" id="pais" placeholder="Colombia!!!">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Imagen</label>
    <input type="text" class="form-control" id="imagen " placeholder="">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Ingredientes</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="papa,agua,cilantro">
  </div>
<button class="btn btn-primary mb-2 p-3">Crear un nuevo plato</button>
  <br>
  </div>
</div>
